@font-face {
  font-family: 'Lexend Light';
  src: url('fonts/Lexend-Light.woff2') format('woff2'),
       url('fonts/Lexend-Light.woff') format('woff'),
       url('fonts/Lexend-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend Regular';
  src: url('fonts/Lexend-Regular.woff2') format('woff2'),
       url('fonts/Lexend-Regular.woff') format('woff'),
       url('fonts/Lexend-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend Medium';
  font-style: normal;
  src: url('fonts/Lexend-Medium.woff2') format('woff2'),
       url('fonts/Lexend-Medium.woff') format('woff'),
       url('fonts/Lexend-Medium.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend Bold';
  src: url('fonts/Lexend-Bold.woff2') format('woff2'),
       url('fonts/Lexend-Bold.woff') format('woff'),
       url('fonts/Lexend-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Lexend SemiBold';
  src: url('fonts/Lexend-SemiBold.woff2') format('woff2'),
       url('fonts/Lexend-SemiBold.woff') format('woff'),
       url('fonts/Lexend-SemiBold.ttf') format('truetype');
}

@font-face {
  font-family: 'LexendExtraBold';
  src: url('fonts/Lexend-ExtraBold.woff2') format('woff2'),
       url('fonts/Lexend-ExtraBold.woff') format('woff'),
       url('fonts/Lexend-ExtraBold.ttf') format('truetype');
}

::selection {
  color: rgb(242, 242, 242, 1);
  background-color: rgba(0, 0, 0, 1);
}

body {
  background-color: rgb(242, 242, 242, 1);

  font-family: 'Lexend Medium', sans-serif;
  font-size: 18px;
  letter-spacing: -1px;

  margin-left: 5em;
  margin-right: 5em;
}

footer {
  z-index: 15;

  background-color: #EEEEEE;

  margin-left: -5em;
  margin-right: -5em;
  margin-bottom: -2em;

  padding: 50px;
  padding-left: 5em;
  padding-right: 5em;

  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 200px;
}

footer a {

  color: #000000;
  text-decoration-line: none;

}

h1 {
  font-weight: normal;
  font-size: 45px;
}

h2 {
  font-weight: normal;
  font-size: 40px;
}

h3 {
  font-weight: normal;
  font-size: 35px;
}

h4 {
  font-weight: normal;
  font-size: 30px;
}

h5 {
  font-weight: normal;
  font-size: 25px;
}

h6 {
  font-weight: normal;
  font-size: 20px;
}

#upper-bar { 
	z-index: 10;
	position: fixed;
  display: flex;
  justify-content: space-between;

  top: 0;
  left: 0;
  right: 0;
	width: 100%;

	line-height: 12px;
	text-align: center;

  align-items: right;

	background-color: rgb(242, 242, 242, 0.1);

  backdrop-filter: blur(7px);
}

#upper-menu {

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;

  gap: 1.3em;

  padding: 0px;
  padding-right: 25px;

}

#upper-menu li {

  mix-blend-mode: difference;
  filter: invert();

}

#upper-logo {
  caret-color: transparent; /* removes blinking cursor */

  width: 160px;

  position: relative;
  display: block;
  
  left: 25px;
}

main {
  padding-top: 75px;
}

img {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  /*
  user-drag: none;
  */
}

select {
  background-color: rgba(242, 242, 242, 0);

  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.fa-center {
  text-align: center;
}

.button {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  caret-color: transparent; /* removes blinking cursor */

  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.5);
  border-radius: 5px;

  padding: 3px;
  padding-left: 7px;
  padding-right: 7px;

  line-height: 2.1;
}

ul {
  list-style-type: none;
}

br {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;

  caret-color: transparent; /* removes blinking cursor */
}