#games-poster-layout ul {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    padding: 0px;
    gap: 2.5em;

}

.games-poster img {
    object-fit: fill;

    border-radius: 20px;

    display: inline-block;
    width: 360px;
    height: 500px;
}

.games-poster img .adjusted {

    object-position: 50px 50px;

}

.games-poster-texts {

    position: relative;
    bottom: 20px;

}

.games-poster-year {

    font-size: 18px;
    color: #A1A1A1;
    position: relative;
}

.games-poster-name {

    position: relative;
    top: 1.2em;
}

